

| Coluna  | Descrição |
| ------- | --------- |
| id      | Número da conta |
| default | Indica se o cliente é adimplente (0) ou inadimplente (1) |
| idade   | --- |
| sexo    | --- |
| depedentes | --- |
| escolaridade | --- |
| estado_civil | --- |
| salario_anual | Faixa do salario mensal multiplicado por 12 |
| tipo_cartao | Categoria do cartao: blue, silver, gold e platinium |
| meses_de_relacionamento | Quantidade de meses desde a abertura da conta |
| qtd_produtos | Quantidade de produtos contratados |
| iteracoes_12m | Quantidade de iteracoes com o cliente no último ano |
| meses_inatico_12m | Quantidade de meses que o cliente ficou inativo no último ano |
| limite_credito | Valor do limite do cartão de crédito |
| valor_transacoes_12m | Soma total do valor das transações no cartão de crédito no último ano |
| qtd_transacoes_12m | Quantidade total de transações no cartão de crédito no último ano |

Analisar o arquivo Credito utilizando o Openpyxl.

In [36]:
import csv
from openpyxl import load_workbook, Workbook

#acessando a Aba ativa
planilha = load_workbook('credito.xlsx')
aba_ativa = planilha.active

#descobrindo os indices dos elementos 
cabecalho = next(aba_ativa.values)
for i in enumerate(cabecalho):
    print(i)

(0, 'id')
(1, 'default')
(2, 'idade')
(3, 'sexo')
(4, 'dependentes')
(5, 'escolaridade')
(6, 'estado_civil')
(7, 'salario_anual')
(8, 'tipo_cartao')
(9, 'meses_de_relacionamento')
(10, 'qtd_produtos')
(11, 'iteracoes_12m')
(12, 'meses_inativo_12m')
(13, 'limite_credito')
(14, 'valor_transacoes_12m')
(15, 'qtd_transacoes_12m')

In [2]:
# CRIAR WOORKSHEET COM SOMENTE OS INADIMPLENTES

nova_ws = planilha.create_sheet('inadimplentes')
planilha.save('credito.xlsx')

In [14]:
#PREENCHENDO CONTEUDO DA NOVA WORKSHEET

inadimplentes = []
inadimplentes.append(cabecalho)

for linha in aba_ativa.iter_rows(min_row=2, values_only=True):

    default = linha[1]
    if default == 1:
        inadimplentes.append(linha)


for x, data in enumerate(inadimplentes):
    for y, item in enumerate(data):
        nova_ws.cell(row=x+1, column=y+1, value=item)

planilha.save('credito.xlsx')
print('Worksheet criada com sucesso!')

Worksheet criada com sucesso!

In [15]:
#ESCREVER ARQUIVO CSV DOS INADIMPLENTES

def criar_csv (nome_arquivo:str, cabecalho:list, conteudo:list):

    with open (file=nome_arquivo + '.csv', mode='w', encoding='utf8', newline='') as arquivo:

        escrever_linha = csv.writer(arquivo)

        escrever_linha.writerow(cabecalho)
        escrever_linha.writerow(conteudo)

    return True

default = cabecalho.index('default')
#print(default)

try:

    with open(file='inadimplentes.csv', mode='w', encoding='utf', newline='') as arquivo:

        escrever_linha = csv.writer(arquivo)

        escrever_linha.writerow(cabecalho)

        for linha in aba_ativa.iter_rows(min_row=2, values_only=True):

            default = linha[1] 

            if default == 1:

             escrever_linha.writerow(linha)
    
        print('Arquivo criado com sucesso!')

except Exception as exc:
    print(f'Aconteceu um erro {exc}')

Arquivo criado com sucesso!

In [94]:
#CRIAR NOVA PLANILHA COM DUAS WORKSHEETS ATRAVÉS DOS DADOS GERADOS DA WORKSHEE 'inadimplentes'.

wb = Workbook()
wb.create_sheet('teste')

wb.save('analise_credito.xlsx')
wb.create_sheet('sexo-M',0)

#verificando os nomes da planilha
print(wb.sheetnames)

#Mudando o nome da segunda e terceira worksheet
wb1 = wb['Sheet']
wb1.title = 'sexo-F'

wb2 = wb['teste']
wb2.title = 'limite-credito' 
print(wb.sheetnames)
wb.save('analise_credito.xlsx')

['sexo-M', 'Sheet', 'teste']
['sexo-M', 'sexo-F', 'limite-credito']

In [96]:
lista_mulheres = []
lista_homens = []


for linha in nova_ws.iter_rows(min_row=2, values_only=True):
    homem = 'M'
    mulher = 'F'
    if linha[3] == homem:
        lista_homens.append(linha)
    elif linha[3] == mulher:
        lista_mulheres.append(linha)

for x, data in enumerate(lista_mulheres):
    for y, item in enumerate(data):
        wb1.cell(row=x+1, column=y+1, value=item)

for x, data in enumerate(lista_homens):
    for y, item in enumerate(data):
        wb.active.cell(row=x+1, column=y+1, value=item)




wb.save('analise_credito.xlsx')

In [97]:
limite_credito = []
limite_credito.append(cabecalho)

for linha in nova_ws.iter_rows(min_row=2, values_only=True):
    credito = linha[13]
    limite = 30000.00
    if credito >= limite:
        limite_credito.append(linha)

for x, data in enumerate(limite_credito):
    for y, item in enumerate(data):
        wb2.cell(row=x+1, column=y+1, value=item)

wb.save('analise_credito.xlsx')

In [17]:
import pandas as pd
df_default_casados = pd.read_csv('inadimplentes.csv')
display(df_default_casados)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,708508758,1,62,F,0,mestrado,casado,menos que $40K,blue,49,2,3,3,1438.73,692.25,16
1,708300483,1,66,F,0,doutorado,casado,na,blue,56,5,3,4,7882.47,704.78,16
2,779471883,1,54,F,1,mestrado,casado,menos que $40K,blue,40,2,1,3,1438.08,705.59,19
3,714374133,1,56,M,2,mestrado,casado,$120K +,blue,36,1,3,3,15769.34,602.60,15
4,712030833,1,48,M,2,mestrado,casado,$60K - $80K,silver,35,2,4,4,34516.60,691.10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1622,716893683,1,55,F,3,sem educacao formal,solteiro,na,blue,47,4,3,3,14657.85,6009.18,53
1623,710638233,1,41,M,2,na,divorciado,$40K - $60K,blue,25,4,3,2,4277.04,8764.88,69
1624,716506083,1,44,F,1,ensino medio,casado,menos que $40K,blue,36,5,4,3,5409.16,10291.78,60
1625,717406983,1,30,M,2,mestrado,na,$40K - $60K,blue,36,4,3,3,5281.84,8395.62,62
1626,714337233,1,43,F,2,mestrado,casado,menos que $40K,silver,25,6,4,2,10388.80,10294.96,61