

| Coluna  | Descrição |
| ------- | --------- |
| id      | Número da conta |
| default | Indica se o cliente é adimplente (0) ou inadimplente (1) |
| idade   | --- |
| sexo    | --- |
| depedentes | --- |
| escolaridade | --- |
| estado_civil | --- |
| salario_anual | Faixa do salario mensal multiplicado por 12 |
| tipo_cartao | Categoria do cartao: blue, silver, gold e platinium |
| meses_de_relacionamento | Quantidade de meses desde a abertura da conta |
| qtd_produtos | Quantidade de produtos contratados |
| iteracoes_12m | Quantidade de iteracoes com o cliente no último ano |
| meses_inatico_12m | Quantidade de meses que o cliente ficou inativo no último ano |
| limite_credito | Valor do limite do cartão de crédito |
| valor_transacoes_12m | Soma total do valor das transações no cartão de crédito no último ano |
| qtd_transacoes_12m | Quantidade total de transações no cartão de crédito no último ano |

Analisar o arquivo Credito utilizando o Openpyxl.

In [47]:
import csv
import pandas as pd
from openpyxl import load_workbook, workbook

In [48]:
#acessando a Aba ativa
planilha = load_workbook('credito.xlsx')
aba_ativa = planilha.active

#descobrindo os indices dos elementos 
cabecalho = next(aba_ativa.values)
for i in enumerate(cabecalho):
    print(i)

(0, 'id')
(1, 'default')
(2, 'idade')
(3, 'sexo')
(4, 'dependentes')
(5, 'escolaridade')
(6, 'estado_civil')
(7, 'salario_anual')
(8, 'tipo_cartao')
(9, 'meses_de_relacionamento')
(10, 'qtd_produtos')
(11, 'iteracoes_12m')
(12, 'meses_inativo_12m')
(13, 'limite_credito')
(14, 'valor_transacoes_12m')
(15, 'qtd_transacoes_12m')

relação de inadimplencia, estado civil e idade:
1 (casado/solteiro) idade

In [53]:
#escrever 3 arquvivos csv

with open(file='inadimplentes-casados.csv', mode='w', encoding='utf8', newline='') as arquvivo:
    escrever_linha = csv.writer(arquvivo, delimiter=',')
    
    
    cabecalho = next(aba_ativa.values)
    escrever_linha.writerow(cabecalho)

    for linha in aba_ativa.iter_rows(min_row=2, values_only=True):
        
        default = linha[1]
        estado_civil = linha[6]
        
        if default == 1 and estado_civil == 'casado':
            escrever_linha.writerow(linha)
    
    print('arquivo escrito com sucesso')

arquivo escrito com sucesso

In [54]:
df_default_casados = pd.read_csv('inadimplentes-casados.csv')
display(df_default_casados)

,id,default,idade,sexo,dependentes,escolaridade,estado_civil,salario_anual,tipo_cartao,meses_de_relacionamento,qtd_produtos,iteracoes_12m,meses_inativo_12m,limite_credito,valor_transacoes_12m,qtd_transacoes_12m
0,708508758,1,62,F,0,mestrado,casado,menos que $40K,blue,49,2,3,3,1438.73,692.25,16
1,708300483,1,66,F,0,doutorado,casado,na,blue,56,5,3,4,7882.47,704.78,16
2,779471883,1,54,F,1,mestrado,casado,menos que $40K,blue,40,2,1,3,1438.08,705.59,19
3,714374133,1,56,M,2,mestrado,casado,$120K +,blue,36,1,3,3,15769.34,602.60,15
4,712030833,1,48,M,2,mestrado,casado,$60K - $80K,silver,35,2,4,4,34516.60,691.10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
704,717185658,1,51,M,1,ensino medio,casado,$80K - $120K,blue,36,4,4,3,22754.64,8531.60,77
705,709646433,1,59,F,1,ensino medio,casado,menos que $40K,blue,50,1,3,4,5043.62,10170.17,66
706,708564858,1,33,M,2,graduacao,casado,$120K +,gold,20,2,4,1,34516.84,9338.74,73
707,716506083,1,44,F,1,ensino medio,casado,menos que $40K,blue,36,5,4,3,5409.16,10291.78,60
708,714337233,1,43,F,2,mestrado,casado,menos que $40K,silver,25,6,4,2,10388.80,10294.96,61