In [9]:
import pandas as pd
from bs4 import BeautifulSoup
import csv

In [15]:
pagina = BeautifulSoup(open('fortune.html', mode='r'), 'html.parser')
tabela = pagina.find('div', {'class': 'rt-table'})
linhas = tabela.find('div', {'class': 'rt-tbody'})

conteudo_extraido = []
for linha in linhas:
    coluna = linha.find('div', {'role':'row'})
    conteudo = coluna.get_text(';').strip().split(';')
    conteudo_extraido.append(conteudo)

header = [
   'rank',
  'name',
  'revenues',
  'revenues-percent-change',
  'profits',
  'profits-percent-change',
  'assets',
  'market-value',
  'employees'
]

In [16]:
with open(file='fortune.csv', mode='w', newline='', encoding='utf8') as arquivo:
    escrever_linha = csv.writer(arquivo, delimiter=';')
    escrever_linha.writerow(header)

    for i in conteudo_extraido:
        escrever_linha.writerow(i)

In [25]:
fortune_df = pd.read_csv('fortune.csv', sep=';') 
display(fortune_df)

,rank,name,revenues,revenues-percent-change,profits,profits-percent-change,assets,market-value,employees
0,1,Walmart,"$559,151",6.7%,"$13,510",-9.2%,"$252,496","$382,642.8","2,300,000"
1,2,Amazon,"$386,064",37.6%,"$21,331",84.1%,"$321,195","$1,558,069.6","1,298,000"
2,3,Apple,"$274,515",5.5%,"$57,411",3.9%,"$323,888","$2,050,665.9","147,000"
3,4,CVS Health,"$268,706",4.6%,"$7,179",8.2%,"$230,715","$98,653.2","256,500"
4,5,UnitedHealth Group,"$257,141",6.2%,"$15,403",11.3%,"$197,289","$351,725","330,000"
...,...,...,...,...,...,...,...,...,...
95,96,3M,"$32,184",0.1%,"$5,384",17.8%,"$47,344","$111,642.1","94,987"
96,97,TJX,"$32,137",-23%,$90.5,-97.2%,"$30,813.6","$79,774.9","320,000"
97,98,Travelers,"$31,981",1.3%,"$2,697",2.9%,"$116,764","$37,933","30,294"
98,99,Capital One Financial,"$31,643",-6.3%,"$2,714",-51.1%,"$421,602","$58,097","51,985"
99,100,Tesla,"$31,536",28.3%,$721,-,"$52,148","$641,115","70,757"

In [ ]:
fortune_df.info #resumo de informações
fortune_df.dtypes # mostra o tipo de dado
fortune_df.describe().T # 'colunas numéricas' mean' = média dos valores, 'std' = desvio padrão, (min, max e medianas

In [ ]:
#trata os dados por coluna
dados_tratados = fortune_df[['revenues', 'revenues-percent-change', 'profits', 'profits-percent-change', 'assets', 'market-value', 'employees']].applymap(lambda x: x.replace('$','').replace('%', ''))

#Atualiza os dados do dataframe original
fortune_df.update(pd.DataFrame(dados_tratados, columns=[
    'revenues', 'revenues-percent-change', 'profits', 'profits-percent-change', 'assets', 'market-value', 'employees'
    ]))

display(fortune_df)

In [29]:
#metodo to_csv escreve um arquivo csv apartir de um dataframe 
fortune_df.to_csv('fortune-limpo.csv')